@import '../../css/Vars';

.info-view__content {
  background-color: $white;
  border: 1px solid $white;
  width: calc(100% - 32px);
  max-width: 520px;
  padding: 20px;
}

.info-view__color-marker {
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  vertical-align: middle;
}

.info-view__color-marker.pink {
  background-color: rgba(245, 21, 245, 0.5);
  border-color: rgb(245, 21, 245);
}

.info-view__color-marker.purple {
  background-color: rgba(119, 5, 213, 0.5);
  border-color: rgb(119, 5, 213);
}

.info-view__color-marker.red {
  background-color: rgba(224, 7, 7, 0.5);
  border-color: rgb(224, 7, 7);
}

.info-view__color-text {
  vertical-align: middle;
}

@media screen and (prefers-color-scheme: dark) {
  .info-view__content {
    background-color: $black-ter;
    border: 1px solid $grey-dark;
  }
}
