@import '../../css/vars';

.list-view {
  background-color: $white-ter;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  z-index: 30;
  transform: translateX(-100%);
  transition: transform 0.15s ease-out;
}

.list-view__menu {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 2px 2px 10px 0px rgba($black, 0.15);
  position: absolute;
  left: 100%;
  top: 12px;
  z-index: 31;
  overflow: hidden;
}

.list-view__menu-item {
  color: $grey;
  background-color: $white-bis;
  border-left: 1px solid $grey-lighter;
  text-align: center;
  padding: 4px;
  cursor: pointer;
}

.list-view__switch {
  color: $white;
  background-color: $black-ter;
  border-left: 1px solid $black-ter;
}

.list-view__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  z-index: 32;
}

.list-view__content-block {
  border-bottom: 1px solid $grey-lighter;
  position: relative;

  .column {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.list-view__brand {
  background-color: $white;
  border-bottom: 1px solid $grey-lighter;
  display: flex;
  align-items: center;
  min-height: 56px;
  padding: 0 12px;
}

.list-view__logo {
  background-image: url('/images/logo-64-light.png');
  background-size: contain;
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.list-view__stat {
  background-color: $white;
  flex-shrink: 0;
  min-height: 120px;
  padding: 16px;
}

.list-view__locations {
  flex-grow: 1;
  overflow-y: auto;
}

.list-view__locations-filter {
  padding: 8px 16px;
}

.list-view__location {
  background-color: $white;
  border-top: 1px solid $grey-lighter;
  padding: 12px 16px;
  cursor: pointer;

  &:last-child {
    margin-bottom: 16px;
    border-bottom: 1px solid $grey-lighter;
  }

  &:hover {
    background-color: $white-bis;
  }

  &.selected,
  &.selected .title {
    color: $white;
    background-color: $black-ter;
  }
}

@media screen and (max-width: $desktop - 1px) {
  .list-view.is-on-tablet {
    box-shadow: 2px 2px 10px 0px rgba($black, 0.15);
    transform: translateX(0%);
  }
}

@media screen and (min-width: $desktop) {
  .list-view.is-on-desktop {
    box-shadow: 2px 2px 10px 0px rgba($black, 0.15);
    transform: translateX(0%);
  }
}

@media screen and (prefers-color-scheme: dark) {
  .list-view {
    background-color: $grey-darker;
  }

  .list-view__menu-item {
    color: $grey-lighter;
    background-color: $black-bis;
    border-left-color: $black-bis;
  }

  .list-view__switch {
    color: $black-bis;
    background-color: $orange;
    border-left: $white-ter;
  }

  .list-view__content-block {
    border-bottom-color: $grey-dark;
  }

  .list-view__brand {
    background-color: $black-ter;
    border-bottom-color: $grey-dark;
  }

  .list-view__logo {
    background-image: url('/images/logo-64-dark.png');
  }

  .list-view__stat {
    background-color: $black-ter;
  }

  .list-view__location {
    background-color: $black-ter;
    border-top-color: $grey-dark;

    &:last-child {
      border-bottom-color: $grey-dark;
    }

    &:hover {
      background-color: $black-bis;
    }

    &.selected,
    &.selected .title {
      color: $black;
      background-color: $white;
    }
  }
}
