@import '../../css/vars';

.loading-view__label {
  margin-left: 8px;
}

.loading-view__app {
  background-color: $white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 2px 2px 20px 0px rgba($black, 0.15);
  display: flex;
  align-items: center;
  padding: 12px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 40;
}

.loading-view__side {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-icon {
  animation-name: loading-icon;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes loading-icon {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (prefers-color-scheme: dark) {
  .loading-view__app {
    color: $white-ter;
    background-color: $black-ter;
  }
}
