@import "../../Css/Vars";

.loading-view__label {
    margin-left: 8px;
}

.loading-view__app {
    color: $grey-lighter;
    background-color: $black-ter;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 2px 2px 20px 0px rgba($black, 0.15);
    display: flex;
    align-items: center;
    padding: 12px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 40;
}

.loading-view__side {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}