@import "../../css/Vars";

.map-view__container {
    position: relative;
}

.map-view {
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.map-view__marker {
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
}

.map-view__marker.pink {
    background-color: rgba(245, 21, 245, 0.5);
    border-color: rgb(245, 21, 245);
}

.map-view__marker.purple {
    background-color: rgba(119, 5, 213, 0.5);
    border-color: rgb(119, 5, 213);
}

.map-view__marker.red {
    background-color: rgba(224, 7, 7, 0.5);
    border-color: rgb(224, 7, 7);
}

.map-view__marker.selected {
    border-color: $black-bis;
    border-width: 4px;
}