@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

@import "~bulma/sass/utilities/initial-variables";

// Font
$family-sans-serif: 'Open Sans', sans-serif;
$weight-light: 400;
$weight-medium: 600;
$weight-semibold: 600;
$weight-bold: 600;

@import "~bulma/sass/utilities/functions";
@import "~bulma/sass/utilities/derived-variables";
@import "~bulma/sass/utilities/animations.sass";
@import "~bulma/sass/utilities/mixins.sass";
@import "~bulma/sass/utilities/controls.sass";