@import "./Vars";
@import "~bulma/bulma.sass";

html, body {
    overflow: hidden;
}

.listview {
    background-color: $white-ter;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 322px;
    z-index: 20;
}
.listview__brand, .listview__stat {
    background-color: white;
    border-bottom: 1px solid $grey-lighter;
    padding: 20px;
}

.listview__locations {
    padding: 20px 0px;
    overflow-y: auto;
}

.listview__location {
    background-color: white;
    padding: 20px;
    cursor: pointer;
    
    &:not(:last-child) {
        border-bottom: 1px solid $grey-lighter;
    }

    &:hover {
        background-color: $white-bis;
    }

    &.selected,
    &.selected .title {
        color: white;
        background-color: $grey-darker;
    }
}

.mapview {
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.case__marker {
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
}

.case__marker.pink {
    background-color: rgba(245, 21, 245, 0.5);
    border-color: rgb(245, 21, 245);
}

.case__marker.purple {
    background-color: rgba(119, 5, 213, 0.5);
    border-color: rgb(119, 5, 213);
}

.case__marker.red {
    background-color: rgba(224, 7, 7, 0.5);
    border-color: rgb(224, 7, 7);
}

.detailsview {
    background-color: white;
    border-top: 10px solid $grey-darker;
    width: 322px;
    padding: 20px;
    position: fixed;
    bottom: 20px;
    left: 342px;
    z-index: 30;
}

.detailsview__close {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}