@import "./Vars";
@import "~bulma/bulma.sass";

html, body {
    overflow: hidden;
}

.listview {
    background-color: $white-ter;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 322px;
    z-index: 30;
    transform: translateX(-100%);
    
    @media screen and (max-width: $desktop - 1px) {
        &.is-on-tablet {
            transform: translateX(0%);
        }
    }

    @media screen and (min-width: $desktop) {
        &.is-on-desktop {
            transform: translateX(0%);
        }
    }
}

.listview__switch {
    color: white;
    background-color: $black-ter;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    padding: 4px;
    padding-left: 2px;
    position: absolute;
    left: 100%;
    top: 9px;
    z-index: 31;
    cursor: pointer;
}

.listview__brand, 
.listview__stat {
    background-color: white;
    border-bottom: 1px solid $grey-lighter;
    padding: 20px;
}

.listview__stat, 
.listview__locations {
    position: relative;
}

.listview__stat {
    min-height: 240px;
}

.listview__locations {
    flex-grow: 1;
    padding: 20px 0px;
    overflow-y: auto;
}

.listview__location {
    background-color: white;
    padding: 20px;
    cursor: pointer;
    
    &:not(:last-child) {
        border-bottom: 1px solid $grey-lighter;
    }

    &:hover {
        background-color: $white-bis;
    }

    &.selected,
    &.selected .title {
        color: white;
        background-color: $black-ter;
    }
}

.listview__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mapview {
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.case__marker {
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
}

.case__marker.pink {
    background-color: rgba(245, 21, 245, 0.5);
    border-color: rgb(245, 21, 245);
}

.case__marker.purple {
    background-color: rgba(119, 5, 213, 0.5);
    border-color: rgb(119, 5, 213);
}

.case__marker.red {
    background-color: rgba(224, 7, 7, 0.5);
    border-color: rgb(224, 7, 7);
}

.detailsview {
    background-color: white;
    border-top: 10px solid $black-ter;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 360px;
    padding: 20px;
    position: fixed;
    bottom: 0px;
    left: 50%;
    z-index: 20;
    transform: translateX(-50%);

    @media screen and (max-width: $desktop - 1px) {
        width: 100%;
        max-width: 400px;
    }
}

.detailsview__close {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

.loadingview {
    color: $grey-lighter;
    background-color: $black-ter;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
    padding: 12px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 40;
}

.loadingview__label {
    margin-left: 8px;
}

.icon.is-rotate-180 {
    transform: rotate(180deg);
}